html,body {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
html{
    font-size: 14px;
}
body{
    display:flex;
    flex-direction: column;
    /* padding-top: 50px; */
    background-color: #141414;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    height: 130px;
    z-index: 1000;
}

@font-face{
    font-family: 'OpnSnsHbrw';
    src: url('assets/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
   }

   @font-face {
    font-family: 'Inter';
    src: url('assets/fonts/DiscountPoster/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

ul {
    align-self: flex-start;
    padding-left: 0 !important;
    margin: 0;
    list-style: none; /* optional: removes the bullet points */
  }

li{
    color: white;
    font-family: 'OpnSnsHbrw';
    font-size: 1.5rem;
}
.MainNav{
    border-bottom: 0.5px solid #878787;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    align-items: center;
}

#DiamindLogo{
    position: relative;
    margin-left: 30px;
    width: 150px;
    height: 40px;
}

#ANFPLogo{
    position: relative;
    margin-left: 25px;
    margin-right: auto;
    width: 40px;
    height: 35px;
}

.navUl{
    align-self: center;
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.navLinkA{
    font-family: 'OpnSnsHbrw';
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.navLinkA:hover{
    color: rgb(222, 222, 222);
}

.FabButn{
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding: 8px 20px;
    background-color: #9B4AFF;
    color: #000;
    font-family: 'OpnSnsHbrw';
    font-size: 1rem;
    border-radius: 34px;
    text-decoration: none;
    white-space: nowrap;
}

.docuPathNav{
    border-bottom: 0.5px solid #878787;
    position: absolute;
    display: flex;
    top: 80px;
    left: 0;
    height: 50px;
    width: 100vw;
    align-items: center;
}

button{
      background: none;
  border: none; /* optional: removes border too */
  padding: 0;    /* optional: resets padding */
  font: inherit; /* optional: inherits font styles */
  color: inherit; /* optional: inherits text color */
  cursor: pointer; /* optional: keeps button behavior */
}

.roadmapBttn{
    position: relative;
    width: 28px;
    height: 26px;
    margin-left: 40px;
}

.roadmapImg{
    width: 35px;
}

.docuPath{
    font-family: "OpnSnsHbrw";
    color: white;
    font-size: 1rem;
    font-weight: 350;
    white-space: none;
    margin-left: 70px;
}

#mapDiv{
    width: 100vw;
    display: none;
    border-bottom: 0.5px solid white ;
    background-color: #141414;
}

.closeBttn{
    position: absolute;
    top: 160px;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    border-top: 0.5px solid #878787;
    width: 100vw;
    height: 80px;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}

.dFooterUl{
    align-self: center;
    display: flex;
    list-style: none;
    gap: 20px;
}

.dFooterA{
    text-decoration: none;
    color: white;
    font-family: 'OpnSnsHbrw';
    font-size: 0.9rem;
}

.dFooterA:hover{
    color: rgb(222, 222, 222);
}



/*generic*/
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    top: 130px;
    max-width: 750px;
    width: 100%;
    height: 100%;
    padding: 0 50px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.poster{
    width: 100vw;
    max-width: 1920px;
    margin-top: 80px;
}

.pageTitle{
    font-family: 'Inter';
    margin: 230px auto 80px 0;
    color: white;
}

.articleP{
    text-align: left;
    font-family: 'OpnSnsHbrw';
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

.boldWords{
    align-content: flex-start;
    text-align: left;
    font-family: 'OpnSnsHbrw';
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.sub-titles{
    font-size: 2rem;
    font-family: 'OpnSnsHbrw';
    color: white;
    margin: 70px auto 50px 0;
}

.pics{
    max-width: 100%;
    height: auto;
    display: block;
    align-self: center;
    margin: 20px 0;
}

.verPics{
    max-width: 350px;
    align-self: center;
}

.linkA{
    color:#9B4AFF;
    font-family:'OpnSnsHbrw';
    font-size:1.5rem;    
    text-decoration: none;
    white-space: nowrap;
    z-index: 1000;
}






.menuContainerDiv{
    margin: auto auto auto 0;
    visibility: hidden;
    height: 100%;
    width: 60vw;
}

.hamburgerCheckboxInput{
    display: none;
}
.hamburgerIconDiv{
    /* visibility: hidden; */
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    padding-top:20px;
    /* margin-right: auto; */
    margin-left: 20px;
}
#hamburgerLabel{
    /* margin-top: 5px; */
    margin-left: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#hamburgerLabel span{
    background-color: #D4D4D4;
    height: 5px;
    width: 37px;
    border-radius: 20px;
    display: block;
    margin-top: 6px;
    /* margin: 5px 0; */
    /* transition: 0.7s ease-in-out; */
    /* transform: none; */
}

.menuPaneDiv{
    top: 80px;
    display: flex;
    flex-direction: column;
    transform: translateX(-105vw);
    background-color: #1a1a1a;
    position: absolute;
    transform-origin: (0, 0);
    width: 80vw;
    height: calc(100vh - 80px);
    /* visibility: hidden; */
    transition: 0.4s ease-in-out;
}    
.hamburgerIconDiv span:nth-of-type(1){
    /* transform-origin: 0% 0%; */
    transition: transform 0.4s ease-in-out;
}
.hamburgerIconDiv span:nth-of-type(2){
    /* transform-origin: 0% 0%; */
    transition: transform 0.2s ease-in-out;
}
.hamburgerIconDiv span:nth-of-type(3){
    /* transform-origin: 0% 100%; */
    transition: transform 0.4s ease-in-out;
}
#openMenuInput:checked ~ .hamburgerIconDiv span:nth-of-type(1) {
    transform: translate(0%, 225%) rotate(-45deg); 
  }
#openMenuInput:checked ~ .hamburgerIconDiv span:nth-of-type(2) {
    transform: translateX(40%);
    opacity: 0;
  }  
#openMenuInput:checked ~ .hamburgerIconDiv span:nth-of-type(3) {
    transform: translate(0%, -225%) rotate(45deg);
  }
#openMenuInput:checked ~ .menuPaneDiv{
    /* left: -5vw; */
    transform: translateX(0vw);
}

.tag{
    color: #000;
    font-weight: 400;
    margin-left: 10px;
    display: inline;
    padding: 5px 5px;
    background-color: #9B4AFF;
    font-family:'OpnSnsHbrw';
    font-size:1rem; 
    border-radius: 20px;   
    white-space: nowrap;
}

.newTag{
     background-color: #80ff4a;
     padding: 5px 10px;
}

@media (max-width:910px){
    html{
        font-size: 10px;
    }
      * {box-sizing:border-box}

    main{
       padding-left: 20px;
       /* margin-right: 10px; */
    }

    .articleP .pageTitle .sub-titles{
        margin: 0 100px;
    }

    #ANFPLogo{
        display: none;
    } 

    #DiamindLogo{
        display: none;
    }

    .navUl{
        display: none;
    }

    .menuContainerDiv{
        visibility: visible;
    }

      .menuPaneDiv{
        overflow-y: scroll;
        padding-bottom: 20px;
    }

      .mobileNavigationUl{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: space-around; */
        gap: 40px;
        background-color: #1a1a1a;
        list-style-type: none;
        width: 100%;
        height: 100%;
        margin: 80px auto auto 45px;
    } 

       .navLinkA{
        font-weight: 500;
        font-size: 1.5rem;
        padding:10px 100% 10px 0;
        margin-top: 20px;
        margin-bottom: 20px;   
    }
}

